@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.makeTreeContainer {
  margin: 0 auto;
  min-width: rem(350px);
  max-width: rem(768px);
  height: 100%;

  background: url('../../assets/custom/bg-pink.png') center no-repeat;
  object-fit: cover;

  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: space-between;
  gap: 8%;

  .headerTitle {
    font-size: rem(24px);
    text-shadow: rem(-1px) 0 #350b0b, 0 rem(1px) #350b0b, rem(1px) 0 #350b0b,
      0 rem(-1px) #350b0b;

    .userNickname {
      text-align: center;

      margin-top: rem(10px);

      color: $secondary;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $secondary;
      outline: none;

      height: 100%;
      padding: 5px;
      padding-bottom: 0;
      z-index: 5;
    }

    .userNickname::placeholder {
      color: $gray300;
    }

    span {
      color: $primary;
    }
  }

  .makeTreeCustom {
    box-sizing: border-box;

    height: 25%;
    padding: rem(20px);

    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;

    background-color: $cherryblossom100;

    border-top-left-radius: rem(32px);
    border-top-right-radius: rem(32px);

    text-align: center;
    vertical-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .makeTreeCustomText {
      display: inline-block;
      margin-bottom: rem(15px);
    }
  }

  .BackgroundCustomList {
    display: flex;
    justify-content: center;
    gap: rem(20px);
  }
}
