@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.messageDetailWrapper {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: rem(350px);
  border-radius: rem(20px);
  background-color: $cherryblossom100;
  box-shadow: rem(2px) rem(2px) rem(4px) $cherryblossom700;
  display: block;
}

.messageDetailContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin: auto rem(15px);
}

.moonIcon {
  width: rem(80px);
  height: rem(80px);
  background: center / cover no-repeat url('@/assets/icon/moon-message.png');
}

.messageSender {
  font-size: rem(20px);
  color: $secondary;
}

.messageContents {
  line-height: rem(20px);
  width: 100%;
  height: rem(180px);
  margin-top: rem(10px);
  padding: rem(15px);
  border: rem(2px) solid $message-input;
  border-radius: rem(10px);
  background-color: $white;
  color: $secondary;
  overflow: auto;

  &::-webkit-scrollbar {
    width: rem(15px);
    height: rem(15px);
  }

  &::-webkit-scrollbar-button {
    display: inline-block;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray100;
    background-clip: padding-box;
    border: rem(2px) solid transparent;
    border-radius: rem(8px);
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.closeButton {
  margin-top: rem(10px);
  padding: rem(10px) rem(15px);
  border: transparent;
  background-color: transparent;
  font-size: rem(20px);
  color: $secondary;
  cursor: pointer;
}

.downloadButtonContainer {
  z-index: 1;
  position: absolute;
  top: rem(14px);
  right: rem(14px);
  padding: rem(5px);
}

.downloadButton {
  width: rem(24px);
  height: rem(24px);
}
