@import '@/styles/utils/function';
@import '@/styles/utils/layout';
@import '@/styles/theme/theme';

.headerTitle {
  display: inline-block;
  text-align: center;

  color: $secondary;

  text-shadow: rem(-1px) 0 #350b0b, 0 rem(1px) #350b0b, rem(1px) 0 #350b0b,
    0 rem(-1px) #350b0b;

  span {
    color: $primary;
  }

  @include font-sm {
    font-size: rem(16px);
  }

  @include font-lg {
    font-size: rem(24px);
  }
}
