@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.shareTreeContainer {
  margin: 0 auto;
  width: 100%;
  min-width: rem(350px);
  max-width: rem(768px);
  height: 100%;

  background: url('/src/assets/custom/bg-pink.png') center / cover no-repeat;

  position: relative;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .blossomTreeContainer {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;

    .flowerList {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      .pagination {
        color: $secondary;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translate(-50%);
        padding: 0 12px;
        background: rgba(255, 255, 255, 0.51);
        border-radius: 12px;
      }

      .originTreeContainer {
        height: 100%;
        position: relative;
      }

      .swiperButton {
        position: absolute;
        bottom: 40%;

        width: inherit;

        .arrowButton {
          width: 63px;
          height: 63px;
          position: absolute;

          cursor: pointer;
          border: none;
          border-radius: 50%;

          padding: 12px;
        }

        .leftButton {
          background: url('/src/assets/swiper-button/left.png') 45% 50%/30% 50%
            no-repeat;
          background-color: rgba(255, 255, 255, 0.35);
          left: 5%;
        }

        .rightButton {
          background: url('/src/assets/swiper-button/right.png') 55% 50%/30% 50%
            no-repeat;
          background-color: rgba(255, 255, 255, 0.35);
          right: 5%;
        }
      }
    }
  }
}

.moveIn {
  animation: moveIn 0.9s ease;
}

.notificationContainer {
  width: 120%;
  position: relative;
  top: -4%;
  left: 50%;
}

.notificationStyling {
  position: absolute;
  transform: translateX(-50%);
  z-index: 5;
  padding: rem(5px) rem(16px);
  background-color: $secondary;
  border-radius: rem(14px);
  color: $white;
  opacity: 0;
}

.animateNotification {
  animation: fadeInAndOut 3s ease;
}

@keyframes moveIn {
  0% {
    top: 100%;
    height: 0;
  }

  60% {
    top: 15%;
    height: 85%;
  }

  85% {
    top: 21%;
    height: 79%;
  }

  100% {
    top: 20%;
    height: 80%;
  }
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
