@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.shortButton {
  @include pink-button;
  border: none;
  border-radius: rem(12px);
  width: 100%;
  height: rem(64px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(10px);
  position: relative;

  .buttonImage {
    width: rem(20px);
  }
}

.shortButton:hover {
  background-color: $secondary;
}

.shortButton:focus {
  background-color: $secondary;
}
