@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.signInPageWrapper {
  margin: 0 auto;
  min-width: rem(350px);
  max-width: rem(768px);
  min-height: 100%;
  background: center / cover no-repeat url('@/assets/custom/bg-pink.png');
  position: relative;

  .toHomePage {
    position: absolute;
    top: rem(60px);
    left: rem(15px);
    background-color: transparent;
    border-color: transparent;
    font-size: rem(32px);
    color: $secondary;
    cursor: pointer;
  }

  .signInPageContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .signInPageTitle {
      margin-top: 20%;
      margin-bottom: rem(75px);
      font-size: rem(24px);
      color: $secondary;
      text-align: center;
    }

    .toSignUpPage {
      margin-top: rem(12px);
      width: 90%;
      height: rem(44px);
      font-size: rem(14px);
      @include button-shadow;
      background-color: $primary;
      color: white;
      border-radius: rem(12px);
      border-color: transparent;
      cursor: pointer;
    }

    .toSignUpPage:hover {
      background-color: #f798bf;
    }

    .toSignUpPage:active {
      position: relative;
      top: rem(2px);
      left: rem(2px);
      box-shadow: rem(1px) rem(1px) rem(2px) $cherryblossom700;
    }

    .toSignUpPageWithDescription {
      margin-top: rem(24px);
      color: $cherryblossom800;
    }

    .toSignUpPageLink {
      color: $primary;
    }
  }

  .form {
    position: relative;
    display: flex;
    gap: rem(12px);
    flex-flow: column;
    align-items: center;
    width: 100%;

    .signInButton {
      margin-top: rem(75px);
      width: 90%;
      height: rem(44px);
      font-size: rem(14px);
      @include button-shadow;
      background-color: $secondary;
      color: white;
      border-radius: rem(12px);
      border-color: transparent;
      cursor: pointer;
    }

    .signInButton:hover {
      background-color: #fc579c;
    }

    .signInButton:active {
      position: relative;
      top: rem(2px);
      left: rem(2px);
      box-shadow: rem(1px) rem(1px) rem(2px) $cherryblossom700;
    }
  }
}

.validatePassed {
  background: center / contain no-repeat url('@/assets/login/check-pink.png');
}

.notificationStyling {
  position: absolute;
  opacity: 0;
  bottom: rem(75px);
  background-color: $secondary;
  border-radius: rem(14px);
  color: $white;
  padding: rem(5px) rem(16px);
}

.animateNotification {
  animation: fadeInAndOut 2s ease;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
