@import '@/styles/utils/function';
@import '@/styles/utils/layout';
@import '@/styles/theme/theme';

.messageItemContainer {
  margin-top: rem(16px);
  padding: rem(12px);
  @include message-modal;
  cursor: pointer;

  @include font-sm {
    font-size: rem(12px);
  }
  @include font-lg {
    font-size: rem(16px);
  }
}

.messageItem {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.messageIcon {
  display: inline-block;
  width: rem(20px);
  height: rem(20px);
  margin-right: rem(6px);
  background: center / cover no-repeat url('@/assets/icon/message.png');
}

.messageSender {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  @include font-sm {
    font-size: rem(14px);
  }
  @include font-lg {
    font-size: rem(18px);
  }
  color: $secondary;
}

.messageContentsContainer {
  height: rem(97px);
  margin-top: rem(10px);
  padding: rem(15px);
  @include message-input;
}

.messageContents {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: rem(20px);
  @include font-sm {
    font-size: rem(11px);
  }
  @include font-lg {
    font-size: rem(15px);
  }
  color: $secondary;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}
