@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.ShortButtonList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(28px);

  width: 100%;
  height: 10%;
}
