@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.flower {
  width: 14%;
  height: 14%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $cherryblossom800;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      @include pink-shadow;
      width: 100%;
      height: 100%;
    }
  }

  span {
    white-space: nowrap;
    font-size: rem(12px);
  }
}

.flower0 {
  top: 22%;
  left: 28%;
}

.flower1 {
  top: 17.5%;
  right: 39%;
}

.flower2 {
  top: 36%;
  left: 22%;
}

.flower3 {
  top: 31.5%;
  left: 43%;
}

.flower4 {
  top: 31%;
  left: 63%;
}

.flower5 {
  top: 45%;
  right: 33%;
}

.flower6 {
  top: 48%;
  left: 35%;
}
