@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.longButton {
  @include pink-button;
  width: 90%;
  height: rem(54px);
  border: none;
  border-radius: rem(12px);
  position: relative;
  @include button-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.longButton:hover {
  background-color: $cherryblossom300;
}

.longButton:focus {
  border: 5px solid $secondary;
}
