@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.writeMessageWrap {
  margin: 0 auto;
  min-width: rem(350px);
  max-width: rem(768px);
  height: 100%;
  position: relative;
  background-color: $cherryblossom100;
  padding-top: rem(75px);
  justify-content: center;

  .writeMessageHeader {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .notice {
      margin-top: rem(16px);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .modalButtonContainer {
    display: flex;
    flex-direction: row;
    background-color: aqua;
  }
}
