@import '@/styles/utils/function';
@import '@/styles/theme/theme';

.messageWrap {
  width: 350px;
  padding-top: rem(75px);
  background-color: $cherryblossom100;
  height: 100vh;
}

.nickname {
  margin-top: rem(16px);
  display: block;
  width: 344px;
  height: 29px;
  left: 25px;
  top: 240px;
  border: 1px;
  border: 2px solid #f175a9;
  border-radius: 12px;
}

.message {
  margin-top: rem(16px);

  width: 344px;
  height: 340px;
  left: 25px;
  top: 285px;

  background: #ffffff;

  border: 2px solid #f175a9;
  border-radius: 12px;
}
