@import '@/styles/utils/function';
@import '@/styles/utils/layout';
@import '@/styles/theme/theme';

.homeContainer {
  margin: 0 auto;
  min-width: rem(350px);
  max-width: rem(768px);
  height: 100%;
  background: url('@/assets/custom/bg-pink.png') center / cover no-repeat;
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;

  @include font-sm {
    font-size: rem(12px);
  }

  @include font-lg {
    font-size: rem(16px);
  }

  .homeLogo {
    width: rem(222px);
    height: rem(36px);
    position: relative;
    line-height: rem(24px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .homeMainTitle {
      @include font-sm {
        position: absolute;
        margin-left: rem(20px);
      }
    }

    .moonLogo {
      width: rem(30px);
      height: rem(30px);
      background: url('@/assets/main-page/main-logo.png') center / cover
        no-repeat;
    }

    .homeTitleInfo {
      width: rem(180px);

      @include font-sm {
        font-size: rem(24px);
      }

      @include font-lg {
        font-size: rem(32px);
      }
    }

    .homeTitle {
      position: absolute;
      top: rem(0px);
      left: rem(45px);
      background: linear-gradient(
          180deg,
          rgba(255, 45, 133, 0.35) 8.74%,
          rgba(245, 155, 193, 0.35) 41.8%,
          rgba(253, 234, 242, 0.35) 82.3%
        ),
        #ffc6de;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include font-sm {
        line-height: 1.3;
      }
    }

    .homeTitleBorder {
      position: absolute;
      top: rem(0px);
      left: rem(45px);
      text-shadow: -1px 0 #350b0b, 0 1px #350b0b, 1px 0 #350b0b, 0 -1px #350b0b;
      color: #ff91c0;

      @include font-sm {
        line-height: 1.3;
      }
    }

    .homeTitleShadow {
      color: $secondary;
      position: absolute;
      top: rem(2px);
      left: rem(45px);
      text-shadow: -1px 0 #350b0b, 0 1px #350b0b, 1px 0 #350b0b, 0 -1px #350b0b;
      @include font-sm {
        line-height: 1.3;
      }
    }

    .homeSubTitle {
      position: absolute;
      top: rem(40px);
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      @include font-sm {
        font-size: rem(12px);
      }

      @include font-lg {
        font-size: rem(18px);
      }
      color: $white;
      text-shadow: -1px 0 $title, 0 1px $title, 1px 0 $title, 0 -1px $title;
    }
  }

  .tree {
    position: relative;
    width: 80%;
    height: 60%;

    .blossomTree {
      position: absolute;
      background: url('@/assets/main-page/main-tree-with-flower.png') center /
        contain no-repeat;
      width: 100%;
      height: 100%;
    }
  }

  .loginButtonList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(10px);
    width: 100%;

    .generalButton {
      background-color: $secondary;
      color: white;
      border-color: transparent;
    }

    .generalButton:hover {
      background-color: #fc579c;
    }

    .generalButton:active {
      position: relative;
      top: rem(2px);
      left: rem(2px);
      box-shadow: rem(1px) rem(1px) rem(2px) $cherryblossom700;
    }

    .googleButton {
      background-color: $white;
      color: $cherryblossom900;
    }

    .googleButton::before {
      display: flex;
      content: '';
      width: rem(24px);
      height: rem(24px);
      background: url('@/assets/brand-logo/google.png') center no-repeat;
    }

    .googleButton:hover {
      background-color: #f9fafb;
    }

    .googleButton:active {
      position: relative;
      top: rem(2px);
      left: rem(2px);
      box-shadow: rem(1px) rem(1px) rem(2px) $cherryblossom700;
    }
  }

  .toSignUpPageWithDescription {
    color: $cherryblossom800;
  }

  .toSignUpPageLink {
    margin-top: 15px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    text-decoration: underline;
    color: $primary;
    cursor: pointer;
  }
}
